In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Query code to be used for flask routes

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [19]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

NameError: name 'Measurement' is not defined

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [25]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [26]:
query= '''select
                station,
                name
            from 
                station
                
        
        
        
        
        '''

In [27]:
#id INTEGER
#station TEXT
#date TEXT
#prcp FLOAT
#tobs FLOAT

In [28]:
conn= engine.connect()

In [29]:
df = pd.read_sql(query, conn)
df.head(15)

       station                                    name
0  USC00519397                    WAIKIKI 717.2, HI US
1  USC00513117                    KANEOHE 838.1, HI US
2  USC00514830  KUALOA RANCH HEADQUARTERS 886.9, HI US
3  USC00517948                       PEARL CITY, HI US
4  USC00518838              UPPER WAHIAWA 874.3, HI US
5  USC00519523      WAIMANALO EXPERIMENTAL FARM, HI US
6  USC00519281                     WAIHEE 837.5, HI US
7  USC00511918       HONOLULU OBSERVATORY 702.2, HI US
8  USC00516128            MANOA LYON ARBO 785.2, HI US

In [24]:
conn.close()

# ###################

In [56]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [60]:
query= '''select
                station,
                date,
                tobs
                
            from 
                measurement
            where 
                date between '2016-08-23' and '2017-08-23' AND
                station = 'USC00519281'
            
                
                
        
        
        
        
        '''

In [61]:
conn= engine.connect()

In [62]:
df = pd.read_sql(query, conn)
df

         station        date  tobs
0    USC00519281  2016-08-23  77.0
1    USC00519281  2016-08-24  77.0
2    USC00519281  2016-08-25  80.0
3    USC00519281  2016-08-26  80.0
4    USC00519281  2016-08-27  75.0
..           ...         ...   ...
347  USC00519281  2017-08-14  77.0
348  USC00519281  2017-08-15  77.0
349  USC00519281  2017-08-16  76.0
350  USC00519281  2017-08-17  76.0
351  USC00519281  2017-08-18  79.0

[352 rows x 3 columns]

In [36]:
conn.close()

# #############################################

In [109]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [116]:
startDate= 2010-1-3

endDate= 2017-8-21

In [117]:



query= '''
               SELECT 
                    min(tobs) as min_temperature,
                    max(tobs) as max_temperature,
                    avg(tobs) as avg_temperature
               FROM
                    measurement
               WHERE
                   date>= {startDate} OR
                   date between {startDate} and {endDate}
        '''

In [118]:
conn= engine.connect()

In [119]:
df = pd.read_sql(query, conn)
df

OperationalError: (sqlite3.OperationalError) unrecognized token: "{"
[SQL:
               SELECT
                    min(tobs) as min_temperature,
                    max(tobs) as max_temperature,
                    avg(tobs) as avg_temperature
               FROM
                    measurement
               WHERE
                   date>= {startDate} OR
                   date between {startDate} and {endDate}
        ]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [108]:
conn.close()

# # #############################################

In [97]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [98]:
query= '''select
                date,
                prcp    
            from 
                measurement
            
            
                
                
        
        
        
        
        '''

In [99]:
conn= engine.connect()

In [100]:
df = pd.read_sql(query, conn)
df

             date  prcp
0      2010-01-01  0.08
1      2010-01-02  0.00
2      2010-01-03  0.00
3      2010-01-04  0.00
4      2010-01-06   NaN
...           ...   ...
19545  2017-08-19  0.09
19546  2017-08-20   NaN
19547  2017-08-21  0.56
19548  2017-08-22  0.50
19549  2017-08-23  0.45

[19550 rows x 2 columns]

In [101]:
conn.close()